<!--<div style="margin: 5px" class="row ui-grid ui-grid-responsive"-->
<!--     *ngFor="let item of timesToLoop(teamType === 0 ? 2 : 1); let i = index;">-->
<!--  <p-fileUpload #fubauto mode="basic" name="file" (onUpload)="onUpload($event)" [auto]="true"-->
<!--                accept=".jpeg,.jpg,.gif,.png,.pdf,*" [url]='serverUrl'-->
<!--                chooseLabel="{{i === 0 ? (teamType === 0 ? 'Select Consultation Decision File' : 'Diagnostic Team File') : i === 1 ? 'Select Scientific Type File' : 'Choose'}}"-->
<!--                maxFileSize="1000000"></p-fileUpload>-->
<!--</div>-->

<div style="margin: 5px; padding: 10px;" class="row ui-grid ui-grid-responsive">
  <p-fileUpload #fubauto mode="basic" name="file" (onUpload)="onConsDecisionUpload($event)" [auto]="true"
                chooseLabel="Select Consultation Decision File"
                accept=".jpeg,.jpg,.gif,.png,.pdf,*" [url]='serverUrl' *ngIf="teamType === 0"
                maxFileSize="1000000"></p-fileUpload>
  <p-fileUpload #fubauto mode="basic" name="file" (onUpload)="onScientificFileUpload($event)" [auto]="true"
                chooseLabel="Select Scientific Type File"
                accept=".jpeg,.jpg,.gif,.png,.pdf,*" [url]='serverUrl' *ngIf="teamType === 0"
                maxFileSize="1000000"></p-fileUpload>
  <p-fileUpload #fubauto mode="basic" name="file" (onUpload)="onDiagnosticFileUpload($event)" [auto]="true"
                chooseLabel="Select Diagnostic Team File"
                accept=".jpeg,.jpg,.gif,.png,.pdf,*" [url]='serverUrl' *ngIf="teamType === 1"
                maxFileSize="1000000"></p-fileUpload>
</div>
<p-messages [(value)]="msgs"></p-messages>

<div align="center" style="margin-top: 35px">
  <button (click)="uploadDocs()" class="btn btn-success" [disabled]="!allOk">Upload</button>&nbsp;
  <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
</div>
