<div style="margin: 5px" class="row">
  <p-toast position="bottom-right"></p-toast>
  <div>
    <p-table #dt [columns]="cols" [value]="allConsultationsData" [responsive]="true" dataKey="constId"
             rowExpandMode="single" selectionMode="single" [(selection)]="selectedConsData"  [paginator]="true"
             [rows]="6">
      <ng-template pTemplate="caption">
        <h3> {{ 'ConsulHeader' | translate}}</h3>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em"></th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
        <tr>
          <th style="width: 3em;"></th>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input *ngSwitchCase="'constTitle'" pInputText type="text"
                   (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            <input *ngSwitchCase="'constDescription'" pInputText type="text"
                   (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            <p-dropdown *ngSwitchCase="'taskDefinitionAName'" [options]="taskDefinitionFilter"
                        [style]="{'width':'100%'}"
                        (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
            <p-dropdown *ngSwitchCase="'processDefinitionAName'" [options]="processDefinitionFilter"
                        [style]="{'width':'100%'}"
                        (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" let-i="rowIndex">
        <tr [pSelectableRow]="rowData" [pRowToggler]="rowData">
          <td style="background-color: #ace1ac">
            {{i + 1}}
          </td>
          <td *ngFor="let col of columns">
            <span class="ui-column-title">{{col.header}}</span>
            {{(col.field === 'plannedStartDate' || col.field === 'plannedEndDate') ? (rowData[col.field] | date: 'yyyy/MM/dd') : rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr style="background: #6495ed21">
          <td [attr.colspan]="columns.length + 1">
            <!--            <p-toolbar>-->
            <div class="ui-toolbar-group-right">
              <button pButton icon="pi pi-eye" pTooltip="View Workflow" (click)="showBpmnWorkflow(rowData)"></button>&nbsp;
              <button pButton class="btn" label="Send For Approval" (click)="sendForApproval(rowData)"></button>&nbsp;
              <button pButton class="btn" label="Remarks" (click)="showConsultations(rowData)"></button>&nbsp;
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-consultation-full-details [consultationFullDetailsChild]="selectedConsulForFullDetails"></app-consultation-full-details>

