<!--Rfc Id: {{ selectedRfcId }}-->
<div class="ui-grid-row" style="margin-bottom:10px; height: 25px;">
  <div class="ui-grid-col-12">
    <div class="ui-grid-row">
      <div class="ui-grid-col-6">
        <label>Need Study : </label>
      </div>
      <div class="ui-grid-col-3">
        <p-radioButton name="needStudyGroup" value="Yes" label="Yes" [(ngModel)]="selSGValue" inputId="opt1"
                       (onClick)="toogleBussCenter()"></p-radioButton>
      </div>
      <div class="ui-grid-col-3">
        <p-radioButton name="needStudyGroup" value="No" label="No" [(ngModel)]="selSGValue" inputId="opt2"
                       (onClick)="toogleBussCenter()"></p-radioButton>
      </div>
    </div>
  </div>
  <br/>
  <!--Selected Value = {{selSGValue == 'Yes' ? 'true' : 'false' || 'none'}}-->
  <div>
    <div style="margin-bottom:10px" *ngIf='showBussCenter'>
      <div class="ui-grid-col-12">
        <div class="ui-grid-col-6">
          <label>Send To : </label>
        </div>
        <div class="ui-grid-col-6">
          <div>
            <p-radioButton name="forwardToGroup" value="Yes" label="Business Center" [(ngModel)]="selBCValue"
                           inputId="opt3"></p-radioButton>
          </div>
          <div style="margin-bottom: 20px; margin-top: 10px;">
            <p-radioButton name="forwardToGroup" value="No" label="Consultation Deputy" [(ngModel)]="selBCValue"
                           inputId="opt4"></p-radioButton>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Selected Value = {{selBCValue == 'Yes' ? 'true' : 'false' || 'none'}}-->

<div align="center">
  <button (click)=updateNeedStudyAndBussCenter() class="btn btn-success">Add</button>
  &nbsp;
  <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
</div>
