<div style="margin: 5px" class="row">
  <p-toast position="bottom-right"></p-toast>
  <div>
    <p-table #dt [columns]="cols" [value]="allConsultationsData" [responsive]="true" dataKey="constId"
      rowExpandMode="single" selectionMode="single" [(selection)]="selectedConsData">
      <ng-template pTemplate="caption">
        <h3> {{ 'ConsulHeader' | translate}}</h3>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em"></th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td>
            <a href="#" [pRowToggler]="rowData">
              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </a>
          </td>
          <td *ngFor="let col of columns">
            <span class="ui-column-title">{{col.header}}</span>
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr style="background: #6495ed21">
          <td [attr.colspan]="columns.length + 1">
            <!--            <p-toolbar>-->
            <div class="ui-toolbar-group-right" *ngIf="rowData.taskDefinitionKey === 'Task_07'">
              <button pButton class="btn" label="Remarks" (click)="showConsultations(rowData)"></button>&nbsp;
              <button pButton class="btn" label="Update321" (click)="showDialog(rowData)"></button>
            </div>
            <div class="ui-toolbar-group-right" *ngIf="rowData.taskDefinitionKey === 'Task_06'">
              <button pButton class="btn" label="Remarks" (click)="showConsultations(rowData)"></button>&nbsp; &nbsp;
              <button pButton class="btn" label="Update123" (click)="showDialog(rowData)"></button>
            </div>
            <div class="ui-toolbar-group-right" *ngIf="rowData.taskDefinitionKey === 'Task_03'">
              <button pButton class="btn" label="Remarks" (click)="showConsultations(rowData)"></button>&nbsp; &nbsp;
              <button pButton class="btn" label="Update000" (click)="showDialog(rowData)"></button>
            </div>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-consultation-full-details [consultationFullDetailsChild]="selectedConsulForFullDetails">
</app-consultation-full-details>

<!--popup dailog "accept/reject"-->
<p-dialog [(visible)]="display" [modal]="true">
  <p-header>
    header
  </p-header>
  <div class=" container">
    <div class="col-10">
      <label for="">Remark</label>
    </div>
    <div class="col-10">
      <textarea [(ngModel)]="remark" pInputTextarea placeholder="Remark" [rows]="6" [cols]="40"></textarea>
    </div>
  </div>


  <p-footer>
    <div class="container py-2  text-center">
     
        <button pButton type="button" class="ui-button-info" label="Accept" (click)="acceptRejectTask3(true)"></button>
        <button pButton type="button" class="ui-button-danger" label="Reject"
          (click)="acceptRejectTask3(false)"></button>
        <button pButton type="button" class="ui-button-warning" (click)="closeDialog()" label="Cancel"></button>
      
      <br>
    </div>
  </p-footer>
</p-dialog>
